* {
	padding: 0;
	margin: 0;
}

.wrap {
	padding: 4px;
	border: 1px solid #ccc;
	width: 300px;
	border-radius: 5px;
	position: absolute;
	z-index: 999;
	display: none;
}
.wrap .title {
	height: 50px;
	float: left;
	position: relative;
	left: 50%;
	line-height: 50px;
	font-size: 20px;
	transform: translateX(-50%);
}
.wrap .title i {
	font-style: normal;
}
.wrap .title i:hover {
	background-color: #eee;
	border-radius: 5px;
	cursor: pointer;
}
.wrap .calender-week li:hover {
	cursor: default;
}
.wrap .title span {
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	display: inline-block;
	cursor: pointer;
}
.wrap .title span:hover {
	background-color: #eee;
	border-radius: 5px;
}
.wrap .calender-list {
	overflow: hidden;
	width: 100%;
}

.wrap ul {
	overflow: hidden;
	float: left;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	border-bottom: 1px solid #ccc;
}

.calender-year ul, .calender-month ul {
	border-bottom: none;
}

.wrap .calender-week {
	background-color: #eee;
	color: #111;
}

.wrap li {
	float: left;
	list-style: none;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	color: #000;
}

.calender-year li {
	width: 90px;
}

.calender-month li {
	width: 90px;
}

.wrap li:hover {
	background-color: #eee;
	cursor: pointer;
}
.wrap .space:hover {
	cursor: no-drop;
}

.wrap .active, .wrap .active:hover {
	background-color: #23acf1;
	color: #fff;
}